.custom-margin-top {
    margin-top: 200px;
    text-align: center;
}

.name-text {
    font-family: 'Lato Black', sans-serif;
    font-weight: bold;
    font-size: 2.2em;
    letter-spacing: 1px;
    margin-bottom: 70px;
    text-shadow: 2px 0px 0px rgba(88, 100, 161, 0.6);
    color: #C5656F;
}

.menu-text {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1em;
}

.icon-container {
    display: flex;
}


.portfolio.dark .icon {
    color: rgba(255, 255, 255, 0.8);
}

.portfolio.dark .icon:hover {
    color: rgba(255, 255, 255, 1);
}

.icon {
    margin: 15px;
    color: rgba(88, 100, 161, 0.8);
    transition: transform 0.2s;
}

.icon:hover {
    color: rgba(88, 100, 161, 1);
}

.menu-link {
    color: #5864A1;
    cursor: pointer;
    font-size: 1em;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    transition: transform 0.1s;
}

.menu-link:hover {
    text-decoration: none;
    transform: scale(1.02);
}


.portfolio.dark .menu-link {
    color: #F5F5F5;
}

.portfolio.dark .name-text {
    text-shadow: 2px 0px 0px rgba(245, 245, 245, 0.6);

}