/* Portfolio.css */
.portfolio {
    display: flex;
    height: 100vh;
    flex: 1;
    overflow: hidden;
    background-color: #F5F5F5;
    /* Fondo claro en modo claro */
    color: #5864A1;
    /* Texto oscuro en modo claro */
    font-family: 'Lato', sans-serif;
}

.left-column {
    flex: 1;
    overflow: auto;
    width: 40%;
    max-width: 40%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}

.right-column {
    flex: 1;
    overflow-y: auto;
    width: 100%;
}

/* Portfolio.css */
.theme-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: #5864A1;
    /* Color del ícono en modo claro */
}

/* Estilos para el modo oscuro */
.portfolio.dark .theme-button {
    color: #F5F5F5;
    /* Color del ícono en modo oscuro */
}

/* Estilos para el modo oscuro */
.portfolio.dark {
    background-color: #5864A1;
    /* Fondo oscuro en modo oscuro */
    color: #F5F5F5;
    /* Texto claro en modo oscuro */
}

.theme-button.dark {
    color: #F5F5F5;
    /* Color del ícono en modo oscuro */
}