/* Portfolio.css */
.portfolio {
    display: flex;
    height: 100vh;
    flex: 1;
    overflow: hidden;
    /* Evita el scroll en toda la sección de Portfolio */
    background-color: #F5F5F5;
    /* Fondo negro */
    color: #5864A1;
    /* Texto blanco */
    font-family: 'Lato', sans-serif;
    /* Texto en la fuente Lato */
    /* Otros estilos específicos para Portfolio */
}

/* Portfolio.css */
.left-column {
    flex: 1;
    overflow: auto;
    width: 40%;
    /* Establece el ancho deseado */
    max-width: 40%;
    /* Agrega un tamaño máximo */
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}

.right-column {
    flex: 1;
    overflow-y: auto;
    /* Habilita el scroll vertical solo si es necesario */
    width: 100%;

}