/* Portfolio.css */
.portfolio {
    display: flex;
    height: 100vh;
    flex: 1;
    overflow: hidden;
    /* Evita el scroll en toda la sección de Portfolio */
}

.left-column {
    flex: 1;
    overflow: auto;
    /* Habilita el scroll si el contenido es más largo */
    width: 30%;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    position: sticky;
    top: 0;
}

.right-column {
    flex: 1;
    overflow-y: auto;
    /* Habilita el scroll vertical solo si es necesario */
    width: 100%;

}